<header class="blog-navbar">
  <%= content_tag :span, link_to(image_tag("logos/lappis-logo-1.png", alt: "lappis logo"), '/'), class: "logo" %>
  <%= content_tag :ul, navbar_links(:blog, :about, :products, :partners, :search, :menu).html_safe %>
</header>
<%= content_tag :ul, navbar_links(:search, :blog, :about, :products, :partners).html_safe, class: 'menu-items' %>
