<div class="article">
  <h1><%= link_to @article["title"], "#" %></h1>
  <div class="publishing-info">
    <i class="fa fa-calendar" aria-hidden="true"></i>
    <span class="date-container">
      <span class="date">
        <%= @article["created_at"].day %> de <%= months_names[@article["created_at"].month - 1] %> de <%= @article["created_at"].year %>
      </span>, por <%= @article["author"]["name"] %>
  </span>
  </div>

  <div class="article-body">
    <%= @article["body"].html_safe %>
  </div>

  <div class="comments">
    <h2><i class="fa fa-comment" aria-hidden="true"></i>Comentários</h2>
  </div>

  <div class="fb-comments" data-href="<%= @article_url %>" data-width="600" data-numposts="10" data-order-by = "reverse_time"></div>

</div>
