<div class="articles">
  <% @articles.each do |article| %>
    <div class="post">
      <h2><%= link_to article["title"], "/blog/#{article['id']}" %></h2>
      <div class="publishing-info">
        <i class="fa fa-calendar" aria-hidden="true"></i>
        <span class="date-container">
          <span class="date">
            <%= article["created_at"].day %> de <%= months_names[article["created_at"].month - 1] %> de <%= article["created_at"].year %>
          </span>, por <%= article["author"]["name"] %>
      </span>
      </div>

      <div class="article-body">
        <%= truncate_html(article["body"], length: 512) %>
      </div>
    </div>
  <% end %>
</div>
