<div class="intro-bgimg parallax-container">

  <%= render 'pages/index_header' %>

  <div id="lappis-intro">
    <%= content_tag :h1, image_tag('logos/lappis-logo-2.png', alt: 'lappis logo') %>
    <%= content_tag :p, lappis_intro_message %>
    <%= content_tag :div, link_to('Visite o blog', '/blog', class: 'btn btn-green'), class: 'btn-container' %>
  </div>
</div>

<div id="about-us">
  <%= content_tag :h2, "#{font_awesome('users')} Quem somos?".html_safe %>
  <% about_us_text.each do |paragraph| %>
    <%= content_tag :p, paragraph %>
  <% end %>
</div>

<div id="products">
  <%= content_tag :h2, "#{font_awesome('line-chart')} Produtos".html_safe %>
  <%= content_tag :p, products_description %>

  <div class="products-container">
    <%= content_tag :div, link_to(image_tag('products/participabr.png', class: 'small'),
                                  'http://www.participa.br/', target: '_blank'), class: 'product with-border' %>

    <%= content_tag :div, link_to(image_tag('products/portal-fga.png', class: 'large'),
                                  'https://fga.unb.br', target: '_blank'), class: 'product with-border' %>

    <%= content_tag :div, link_to(image_tag('products/mezuro.png', class: 'medium'),
                                  'https://github.com/mezuro', target: '_blank'), class: 'product with-border' %>

    <%= content_tag :div, link_to(image_tag('products/spb.png', class: 'small'),
                                  'https://softwarepublico.gov.br/social', target: '_blank'), class: 'product with-border' %>

    <%= content_tag :div, link_to(image_tag('products/noosfero.png', class: 'large'),
                                  'https://gitlab.com/noosfero/noosfero', target: '_blank'), class: 'product with-border' %>

    <%= content_tag :div, link_to(image_tag('products/gestor-psi.png', class: 'medium'),
                                  'http://gestorpsi.com.br', target: '_blank'), class: 'product with-border' %>

    <%= content_tag :div, link_to(image_tag('products/colab.png', class: 'small'),
                                  'https://colab.interlegis.leg.br/', target: '_blank'), class: 'product with-border' %>

    <%= content_tag :div, link_to(image_tag('products/portal-da-juventude.png', class: 'large'),
                                  'http://juventude.gov.br', target: '_blank'), class: 'product with-border' %>

    <%= content_tag :div, link_to(image_tag('products/analizo.png', class: 'medium'),
                                  'http://www.analizo.org', target: '_blank'), class: 'product' %>
  </div>
</div>

<div id="partners">
  <%= content_tag :h2, "#{font_awesome('heart')} Parceiros".html_safe %>
  <% partners_text.each do |paragraph| %>
    <%= content_tag :p, paragraph.html_safe %>
  <% end %>
  <%= content_tag :div, render(@partners), class: 'partners-container' %>
</div>
