$s: 320px;
$m: 760px;
$l: 1368px;

div.article {
    border-bottom: 1px solid #dcdcdc;
    background-color: #fff;
    margin: auto;
    margin-bottom: 1em;
    @media screen and (min-width: $s) { width: 90%; padding: 0em 1.5em 1em 1.5em; }
    @media screen and (min-width: $m) { width: 60%; padding: 1em 2em; }
    h1 {
        margin: 0;
        padding-bottom: 5px;
        font-weight: lighter;
        a {
            color: #333;
            text-decoration: none;
            &:hover {
                color: #555;
            }
        }
    }

    .publishing-info {
        color: #333;
        font-size: 0.8em;
        i {
            padding-right: 3px;
        }
    }

    .article-body {
        color: #666;
        p {
            line-height: 1.8em;
            a {
                color: #333;
                border-bottom: 1px solid #24bfcf;
                text-decoration: none;
                &:hover {
                    color: #24bfcf;
                }
            }
        }
    }

    .comments h2 {
        color: #1d2129;
        font-family: Helvetica, Arial, sans-serif;
        margin-top: 0;
        margin-bottom: 0.4em;
        i {
            color: #fff;
            text-shadow: #1d2129 0px 0px 1px, #1d2129 0px 0px 1px, #1d2129 0px 0px 1px,
            #1d2129 0px 0px 1px, #1d2129 0px 0px 1px, #1d2129 0px 0px 1px;
            padding-right: 7px;
        }
    }
}

.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget span iframe[style] {
    min-width: 100% !important;
    width: 100% !important;
}
