$s: 320px;
$m: 760px;
$l: 1368px;

header.blog-navbar {
    color: #fff;
    font-family: Lato, sans-serif;
    background-color: #1d2129;
    @media screen and (min-width: $s) { padding: 0.5em 1em; }
    @media screen and (min-width: $m) { padding: 0.5em 2em; }
    margin-bottom: 1em;

    span.logo {
        display: inline-block;
        vertical-align: middle;
        @media screen and (min-width: $s) { padding-left: 0em; }
        @media screen and (min-width: $m) { padding-left: 4em; }
        a {
            color: #fff;
            display: inline-block;
            text-decoration: none;
            padding-bottom: 2px;
            img {
                display: inline-block;
                vertical-align: middle;
                @media screen and (min-width: $s) { width: 12em; }
                @media screen and (min-width: $m) { width: auto; }
            }
        }
    }

    ul {
        display: inline-block;
        font-size: 1.1em;
        margin: 0em;
        @media screen and (min-width: $s) { padding-left: 0em;  float: right; }
        @media screen and (min-width: $m) { padding-left: 18em; float: none; }
        text-transform: uppercase;
        li {
            @media screen and (min-width: $s) { display: none;   margin-right: 0em; }
            @media screen and (min-width: $m) { display: inline; margin-right: 1.5em; }
            a {
                color: #fff;
                text-decoration: none;
                padding-bottom: 0.2em;
                &:hover {
                    @media screen and (min-width: $m) { border-bottom: 1px solid #fff; }
                }
                i {
                    vertical-align: middle;
                }
            }
            &:last-child {
                font-size: 1.5em;
                @media screen and (min-width: $s) { display: inline; }
                @media screen and (min-width: $m) { display: none; }
            }
        }
    }
}

ul.menu-items {
    display: none;
    background-color: #1d2129;
    font-family: Lato, sans-serif;
    list-style: none;
    float: right;
    margin-top: -1em;
    padding-left: 0;
    li {
        border-top: 1px solid #333;
        padding: 0.5em 1.5em;
        a {
            color: #fff;
            text-decoration: none;
        }
        &:first-child {
            a::after {
                content: ' Buscar';
            }
        }
    }
}

div.blog-intro {
    border-bottom: 1px solid #dcdcdc;
    margin: auto;
    width: 80%;
    p {
        color: #333;
        font-size: 1.8em;
    }
}

div.articles {
    width: 80%;
    margin: auto;
    padding: 1em 0;
    .post {
        border-bottom: 1px solid #dcdcdc;
        padding-bottom: 1em;
        margin-bottom: 1em;
        h2 {
            margin: 0;
            padding-bottom: 5px;
            font-weight: lighter;
            a {
                color: #333;
                text-decoration: none;
                &:hover {
                    color: #555;
                }
            }
        }

        .publishing-info {
            color: #333;
            font-size: 0.8em;
            i {
                padding-right: 3px;
            }
        }

        .article-body {
            color: #666;
            p {
                line-height: 1.8em;
                a {
                    color: #333;
                    border-bottom: 1px solid #24bfcf;
                    text-decoration: none;
                    &:hover {
                        color: #24bfcf;
                    }
                }
            }
        }
    }
}
