@import "font-awesome";

$s: 320px;
$m: 760px;
$l: 1368px;

body {
    font-family: Roboto, sans-serif;
    margin: 0;

    a {
        cursor: pointer;
    }

    .parallax-container {
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        @media screen and (min-width: $m) { min-height: 100vh; }

        &.intro-bgimg {
            @media screen and (min-width: $s) { background-color: #000; }
            @media screen and (min-width: $m) { background-image: url("/images/background/bgimg-2.jpg"); }
            margin-bottom: 1em;
        }
    }

    header.index-navbar {
        font-family: Lato, sans-serif;
        text-align: center;
        @media screen and (min-width: $s) { padding: 0.8em 0.2em; background-color: #1d2129;     border-bottom: 1px solid #333; }
        @media screen and (min-width: $m) { padding: 1.0em;       background-color: transparent; border-bottom: none; }
        ul, li {
            display: inline;
            margin: 0;
            @media screen and (min-width: $s) { margin-right: 0.8em; }
            @media screen and (min-width: $m) { margin-right: 3.0em; }
            a {
                color: #fff;
                @media screen and (min-width: $s) { font-size: 0.8em; }
                @media screen and (min-width: $m) { font-size: 1.5em; }
                text-decoration: none;
                padding-bottom: 2px;
                &:hover {
                    border-bottom: 2px solid #fff;
                }
            }
        }
    }

    #lappis-intro {
        color: #fffff2;
        @media screen and (min-width: $s) { width: 80%; float: none;  margin: auto; padding: 3em 0em; }
        @media screen and (min-width: $m) { width: 40%; float: right; padding: 7em 5em 2em 5em; }

        h1 {
            text-transform: uppercase;
            margin: 0;
            padding-bottom: 15px;
            img {
                width: 100%;
            }
        }

        p {
            @media screen and (min-width: $s) { font-size: 1.0em; }
            @media screen and (min-width: $m) { font-size: 1.5em; }
            text-align: center;
            margin-top: 0;
        }

        .btn-container {
            text-align: center;
            .btn {
                font-family: Open Sans, sans-serif;
                @media screen and (min-width: $s) { font-size: 1.0em; padding: 0.4em 0.6em; }
                @media screen and (min-width: $m) { font-size: 1.4em; padding: 0.5em; }
                margin: 0.5em;
                border-radius: 5px;
                text-decoration: none;
                text-transform: uppercase;
                transition: .3s;
                -webkit-transition: .3s;
                -moz-transition: .3s;
                -o-transition: .3s;
                display: inline-block;
                &.btn-green {
                    color: #fffff2;
                    border: 2px #4CAF50 solid;
                    background-color: #4CAF50;
                    &:hover {
                        background-color: transparent;
                    }
                }
            }
        }
    }

    #about-us, #products, #partners {
        color: rgba(0,0,0,0.87);
        @media screen and (min-width: $s) { padding: 1em 1em; }
        @media screen and (min-width: $m) { padding: 1em 5em; }
        @media screen and (min-width: $l) { padding: 1em 5em; }
        h2 {
            border-bottom: 1px solid rgba(0,0,0,0.87);
            @media screen and (min-width: $s) { font-size: 1.5em; }
            @media screen and (min-width: $m) { font-size: 2.0em; }
            text-transform: uppercase;
            margin-top: 10px;
            padding-bottom: 10px;
        }
    }

    #products {
        p {
            @media screen and (min-width: $s) { margin-bottom: 2em;  }
            @media screen and (min-width: $m) { margin-bottom: 1em;  }
        }
        .products-container {
            margin: auto;
            overflow: auto;
            .product {
                display: inline-block;
                text-align: center;
                @media screen and (min-width: $s) { margin: 0em; padding: 1em 0em; width: 100%; }
                @media screen and (min-width: $m) { margin: 2em 4em 0em 1em; padding: 0em; width: auto; height: 10em; }
                &.with-border {
                    @media screen and (min-width: $s) { border-bottom: 1px solid #dcdcdc; }
                    @media screen and (min-width: $m) { border-bottom: none; }
                }
                a {
                    display: inline-block;
                    text-align: center;
                    vertical-align: middle;
                    img.small {
                        @media screen and (min-width: $s) { width: 8em; }
                        @media screen and (min-width: $m) { width: 12.5em; }
                    }
                    img.medium {
                        @media screen and (min-width: $s) { width: 12.5em; }
                        @media screen and (min-width: $m) { width: 20.0em; }
                    }
                    img.large {
                        @media screen and (min-width: $s) { width: 12.5em; }
                        @media screen and (min-width: $m) { width: 25.0em; }
                    }
                }
            }
        }
    }

    #partners {
        .partners-container {
            @media screen and (max-width: $m) { margin-top: 1em; }
            overflow: auto;
            .partner {
                display: block;
                float: left;
                width: 8em;
                @media screen and (min-width: $s) { margin: 1em 0.5em; }
                @media screen and (min-width: $m) { margin: 1em 1em; }
                @media screen and (min-width: $l) { margin: 1em 1em; }

                img.partner-photo {
                    display: block;
                    border-radius: 100%;
                    height: 106px;
                    width: 113px;
                    margin: auto;
                }

                .name {
                    display: block;
                    margin: 5px 0px;
                    text-align: center;
                    white-space: nowrap;
                }

                .icons-container {
                    text-align: center;
                    a.contact-link {
                        text-decoration: none;
                        img.icon {
                            height: 16px;
                            width: 16px;
                            margin: 0px 4px;
                        }
                    }
                }
            }
        }
    }

    footer {
        color: #fff;
        background-color: #1d2129;
        @media screen and (min-width: $s) { font-size: 0.6em; }
        @media screen and (min-width: $m) { font-size: 1.0em; }
        text-align: center;
        margin-top: 2em;
        padding: 1em;
    }
}
