<!DOCTYPE html>
<html>
  <head>
    <%= content_tag :title, 'Lappis' %>
    <%= favicon_link_tag       '/assets/lappis-logo.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag    'https://fonts.googleapis.com/css?family=Roboto' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag facebook_comments_plugin %>
    <%= tag :meta, name: 'viewport', content: 'width=device-width, initial-scale=1.0' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= content_tag :div, nil, id: 'fb-root' %>
    <%= render 'pages/blog_header' unless @index %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
